/* GENERLLA INSTÄLLNINGAR */


body {
    margin: 0;
}

    {
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 25rem;
    margin-top: 1rem;
    padding: 1rem;
}

p,
h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}



/* GENERELLA INSTÄLLNIGAR SLUT */

/* BURGER MENU */

body {
    margin: 0;
    padding: 0;

    /* make it look decent enough */

    font-family: "Avenir Next", "Avenir", sans-serif;

    overflow-x: hidden;
    /* needed because hiding the menu on the right side is not perfect,  */
}

.keal0g0 {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 90px;
    right: 240px;
}

#navigation a {
    text-decoration: none;
    color: #f58e81;

    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
}

#navigation a:hover {
    color: tomato;
}

#goback {
    position: absolute;
    top: 615px;
    height: 80px;
    width: 450px;
    right: 70px;
    background-color: #EA847C;
}

#goback a {
    color: white;
    position: absolute;
    top: 20px;
    left: 200px;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 48px;
    right: 20px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 27px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;

    background: #ffffff;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 450px;
    height: 600px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 190px;
    right: -115px;

    background: #3f3140;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}



/* BURGER MENU SLUT*/


/* LOG IN */


.background_login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FAF7F7;
    height: 1200px;
    width: 700px;

}

.redbox a {
    padding: ;
    border: 100px;
    width: 100px;
    text-align: center;
    color: white;
    border-width: 0px;
    border-style: solid;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 3em;

}

#login .kea {
    background-color: #EA5045;
    width: 1200px;
    height: 180px;
    padding: ;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

#login .kealogo1 {
    width: 100px;
    height: 30px;
    padding-top: 0;
    position: absolute;
    right: 120px;
}

#loginform {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 20px;
}

form {
    display: block;
    margin-top: 0em;
}

.formgroup1 {
    position: absolute;
    left: 2rem;
    top: 20rem;
}

#loging a {
    text-decoration: none;
    margin: 0.8rem 1rem 0.5rem 1rem;
    padding: 0.2rem;
    color: white;
}

#login #afleveringsside #forside a,
h1,
h2,
h3,
h4,
p,
label,
input,
table {
    font-family: Arial;
    font-weight: normal;
}

.unilog {
    position: absolute;
    left: -1rem;
    top: -2rem;
}

#loginform input {
    width: 17rem;
    height: 2.6rem;
    border-radius: 0%;
    border-width: 0px;
}



.formgroup2 {
    position: absolute;
    left: 2rem;
    top: 24rem;
}

div {
    display: block;
}

.userlog1 {
    position: absolute;
    width: 2rem;
    left: 220px;
    top: 6px;
    padding-top: 0;
    margin-top: 0;
}

#loginform input {
    width: 17rem;
    height: 2.6rem;
    border-radius: 0%;
    border-width: 0px;
}

.input4, .input1{
    background-color: #FAF7F7;
}

.formgroup3 {
    position: absolute;
    left: 2rem;
    top: 28rem;
}


div {
    display: block;
}

.userlog2 {
    position: absolute;
    width: 2.1rem;
    left: 218px;
    top: 2.5px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
}


.formgroup4 {
    position: absolute;
    left: 2rem;
    top: 32rem;
}

div {
    display: block;
}

#loginform input {
    width: 17rem;
    height: 2.6rem;
    border-radius: 0%;
    border-width: 0px;
}


.contentsplit {
    width: 180px;
    height: 60px;
    padding: 20px 0px 0px 0px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.boxsplit {
    width: 20px;
    color: lightgrey;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}


/* LOG IN SLUT */

/* FORSIDE START */

body {
    background-color: #DEDCDB;
}

header{
    background-color: #EA5045;
    height: 100px;
}

#menuknap {
    color: white;
    display: inline-block font-family: sans-serif;
    padding: 0.5rem 0.5rem 0.5rem;
    font-size: 2rem;
    padding-left: 92vw;
    padding-top: 0;
}

#kealgo {
    height: 5vw;
    width: 20vw;
    position: absolute;
    top: 15px;

}

#forside .top_forside {
    display: flex;
    position: relative;
    top: -25px;
    left: -15px;

}

#forside .material {
    margin: 10px;

}

#forside .skema {
    margin: 10px;

}

#forside .notifikationer {
    margin: 10px;

}

#forside .mellem_forside {
    display: flex;
    position: relative;
    top: -75px;
    left: -15px;
}

#forside .techlounge {
    margin: 10px;
}

#forside .mail {
    margin: 10px;
    height: 41vw;
    width: 53.5vw;
}

#forside .mellem_forside_to {
    display: flex;
    position: relative;
    top: -125px;
    left: -15px;
}

#forside .fav {
    margin: 10px;
}

#forside .grupper {
    margin: 10px;
}

#forside .chat {
    margin: 10px;
}

#forside .mellem_forside_tre {

    position: relative;
    top: -180px;
    left: -15px;
}

#forside .soeg {
    margin: 10px;
    height: 29vw;
    width: 29vw;
    position: relative;
    top: 5px;
}

#forside .afleveringer {
    margin: 10px;
    height: 29vw;
    width: 29vw;
    position: relative;
    top: 14px;
}


#forside .aktuelt {
    margin: 10px;
    height: 62vw;
    width: 62vw;
    position: relative;
    left: 125px;
    top: -232.5px;
    padding-top: 0;
}

#forside .bottom {
    display: flex;
    position: relative;
    top: -410px;
    left: -15px;
}

#forside .xet {
    margin: 10px;
}

#forside .xto {
    margin: 10px;
}

#forside .xtre {
    margin: 10px;
}

/* FORSIDE SLUT */

/* AFLEVERINGSSIDE CSS */
#white {
    background-color: white;
}

.afleveringer {
    margin: 10px;
}

.afleveringer2 {
    margin: 10px;
    color: #EA5045;
    font-size: 0.7rem;
}

#box1 {
    margin: 10px;
    height: 20vw;
    width: 92vw;
    background-color: rgba(222, 220, 219, 0.42);
}

.opgave_navn {
    margin: 10px;
    position: relative;
    top: 10px;
    font-size: 0.8rem;

}

.opgave_tekst {
    margin: 10px;
    position: relative;
    top: 10px;
    font-size: 0.6rem;
}
.opgave_tekst1 {
    margin: 10px;
    position: relative;
    top: -19px;
    font-size: 0.6rem;
}

.pin {
    display: flex;
    width: 50px;
    height: 100px;
    position: relative;
    left: 400px;
    top: -40px;

}

.arrow {
    display: flex;
    width: 40px;
    height: 80px;
    position: relative;
    left: 410px;
    top: -40px;


}



#box2 {
    margin: 10px;
    height: 20vw;
    width: 92vw;
    background-color: rgba(222, 220, 219, 0.42);
}

/** EXPANDING BOX CSS **/

/* Style the button that is used to open and close the collapsible content */


/** BOX 3 SOM SKA EXPAND **/
.collapsible {
    background-color: rgba(222, 220, 219, 0.42);
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 10px;
    height: 20vw;
    width: 92vw;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: rgba(222, 220, 219, 0.42);
}

/* Style the collapsible content. Note: hidden by default */
.content {
    display: none;
    overflow: hidden;
    margin: 3vw;
    height: 43vw;
    width: 92vw;
    background-color: #eeeeee;
}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    /*    background-color: rgba(222, 220, 219, 0.42);*/
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    position: absolute;
    left: 330px;
    bottom: 135px;
}

.active:after {
    content: "\2796";
    margin-right: 5px;
    margin-bottom: 5px;
    /* Unicode character for "minus" sign (-) */
}

b {
    margin-bottom: 5px;
}

/** EXPANDING BOX SLUT **/

.fil{
    margin: 10px;
    font-size: 0.8rem;
}

#box4 {
    margin: 10px;
    height: 20vw;
    width: 92vw;
    background-color: rgba(222, 220, 219, 0.42);
}

#box5 {
    margin: 10px;
    height: 20vw;
    width: 92vw;
    background-color: rgba(222, 220, 219, 0.42);
}

#box6 {
    margin: 10px;
    height: 20vw;
    width: 92vw;
    background-color: rgba(222, 220, 219, 0.42);
}


.clip{
    position: absolute;
    left: 300px;
    bottom: 66px;
    width: 20px;
    height: 60px;
}
.clip1{
    position: absolute;
    left: 300px;
    bottom: 15px;
    width: 20px;
    height: 60px;
}
.clip2{
    position: absolute;
    left: 300px;
    bottom: -37px;
    width: 20px;
    height: 60px;
}









